# Shared
TEST_DB_NAME="wpgraphql_woocommerce_test"
TEST_DB_HOST="127.0.0.1"
TEST_DB_USER="root"
TEST_DB_PASSWORD=""

# Install script
WP_VERSION=latest
SKIP_DB_CREATE=false

# Codeception
WP_ROOT_FOLDER="/tmp/wordpress"
TEST_SITE_WP_ADMIN_PATH="/wp-admin"
TEST_SITE_DB_NAME="wpgraphql_woocommerce_test"
TEST_SITE_DB_HOST="127.0.0.1"
TEST_SITE_DB_USER="root"
TEST_SITE_DB_PASSWORD=""
TEST_SITE_TABLE_PREFIX="wp_"
TEST_TABLE_PREFIX="wp_"
TEST_SITE_WP_URL="http://wp.test"
TEST_SITE_WP_DOMAIN="wp.test"
TEST_SITE_ADMIN_EMAIL="admin@wp.test"
TEST_SITE_ADMIN_USERNAME="admin"
TEST_SITE_ADMIN_PASSWORD="password"