.DS_Store
phpcs.xml
phpunit.xml
phpstan.neon
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
.env
.env.*
!.env.testing
.idea
.vscode/settings.json
.github_changelog_generator
vendor/*
!tests
tests/*.suite.yml
build/
coverage/*
schema.graphql
phpunit.xml
docker-output
c3.php
.log/
php-coveralls.phar
codeception.yml
.editorconfig
plugin-build
bin/strauss.phar
