.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
.env
.idea
.vscode
.github_changelog_generator
!vendor/
vendor/*
!vendor/autoload.php
!vendor/composer
vendor/composer/installed.json
vendor/composer/*/
!/tests
/tests/*.suite.yml
build/
coverage/*
schema.graphql
phpunit.xml
docker-output