<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards based custom ruleset for your plugin">
	<config name="installed_paths" value="vendor/automattic/vipwpcs,vendor/wp-coding-standards/wpcs" />
	<description>Generally-applicable sniffs for WordPress plugins.</description>

	<!-- How to scan -->
	<!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<arg name="basepath" value="./"/><!-- Strip the file paths down to the relevant bit -->
	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/> <!-- Show sniff and progress -->

	<arg name="parallel" value="8"/><!-- Enables parallel processing when available for faster results. -->
	<!-- Rules: Check PHP version compatibility -->
	<!-- https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.0-"/>

	<!-- Rules: WordPress Coding Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />

	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<config name="minimum_supported_wp_version" value="4.9"/>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<!-- Value: replace the function, class, and variable prefixes used. Separate multiple prefixes with a comma. -->
			<property name="prefixes" type="array" value="WPGraphQL\WooCommerce,woographql,WPGRAPHQL_WOOCOMMERCE,WP_GraphQL_WooCommerce,graphql_,wc_graphql_"/>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<!-- Value: replace the text domain used. -->
			<property name="text_domain" type="array" value="wp-graphql-woocommerce"/>
		</properties>
	</rule>
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>

	<!-- Enforce Short array syntax `[]`  -->
	<rule ref="WordPress">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
	</rule>
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<!-- Rules to exclude for test files -->
	<rule ref="WordPress.NamingConventions">
		<exclude-pattern>/tests/</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting">
		<!-- Allow for inline @var typing -->
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
		<exclude-pattern>/tests/</exclude-pattern>
	</rule>
	<rule ref="Squiz.PHP.CommentedOutCode.Found">
		<exclude-pattern>/tests/</exclude-pattern>
	</rule>
	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>/tests/</exclude-pattern>
	</rule>
	<rule ref="PSR2.Methods.MethodDeclaration.Underscore">
		<exclude-pattern>/tests/</exclude-pattern>
	</rule>
	<rule ref="WordPress.PHP.DontExtract">
		<exclude-pattern>/tests/</exclude-pattern>
	</rule>
	<rule ref="WordPress.WP.AlternativeFunctions">
		<exclude-pattern>/tests/</exclude-pattern>
	</rule>

	<!-- What to scan -->
	<file>wp-graphql-woocommerce.php</file>
	<file>access-functions.php</file>
	<file>includes/</file>
	<exclude-pattern>/phpstan/</exclude-pattern>
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>local/*</exclude-pattern>
	<exclude-pattern>/tests/_support/Helper/crud-helpers</exclude-pattern>
</ruleset>
