parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		treatPhpDocTypesAsCertain: false
		stubFiles:
			# Simulate added properties. This is neccesary due to a config issue in WPGraphQL core.
			- phpstan/class-wp-post-type.php
			- phpstan/class-wp-taxonomy.php
			- phpstan/class-woocommerce.php
		bootstrapFiles:
			- phpstan/constants.php
		paths:
			- wp-graphql-woocommerce.php
			- access-functions.php
			- includes/
		scanDirectories:
			- vendor-prefixed/
			- local/public/wp-content/plugins/wp-graphql-jwt-authentication/
			- local/public/wp-content/plugins/woocommerce/src/Internal/DataStores/Orders/
		scanFiles:
			- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
			- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
