parameters:
		level: 4 # Gotta start somewhere
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		treatPhpDocTypesAsCertain: false
		stubFiles:
			# Simulate added properties. This is neccesary due to a config issue in WPGraphQL core.
			- phpstan/class-wp-post-type.php
			- phpstan/class-wp-taxonomy.php
			- phpstan/class-woocommerce.php
		bootstrapFiles:
			- phpstan/constants.php
		paths:
			- wp-graphql-woocommerce.php
			- access-functions.php
			- includes/
		scanFiles:
			- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
			- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
		scanDirectories:
			- ../wp-graphql-jwt-authentication
